{% extends "base.html" %}
{% block title %}
    Projects
{% endblock %}
{% block content %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Otus</h2>
                                            <p><a href="https://otus.ru" target="_blank">Official website</a></p>
                                            <p>Author's online courses for professionals</p>
                                            <hr>
                                            <p><a href="https://otus.ru/instructors/641" target="_blank">My profile</a></p>
                                            <p>BasePython - Teacher</p>
                                            <p>WebPython - Teacher and Leader</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">University of Artificial Intelligence</h2>
                                            <p><a href="https://neural-university.ru/" target="_blank">Official website</a></p>
                                            <p>AI Courses Platform</p>
                                            <hr>
                                            <p>Python Developer</p>
                                            <p>Teacher and course creator</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Geekbrains</h2>
                                            <p><a href="https://gb.ru/" target="_blank">Official website</a></p>
                                            <p>Online training from scratch to pro</p>
                                            <hr>
                                            <p><a href="https://gb.ru/users/9fed7767-5fc1-4de1-a115-3e5e5ef67ae4" target="_blank">Profile and Reviews</a></p>
                                            <p>Python Base, Python Extended, Django, Python Pro</p>
                                            <p>Teacher, Dean of the Faculty</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 4-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Profi.ru</h2>
                                            <p><a href="https://profi.ru" target="_blank">Official website</a></p>
                                            <p>Database of real tutors with ratings and reviews</p>
                                            <hr>
                                            <p>Python, Java, C#, C++</p>
                                            <p>Teacher, Mentor</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url '/contact.html' %}">Contact me</a>
                    </div>
                </div>
            </section>

{% endblock %}

</html>
